body{
	margin: 0;
	font-family: poppins;
	padding: 0;
}
h5 {
	font-family: poppins;
}
h3{
	font-family: poppins;
}
p{
	font-family: poppins;
}
.navbar{
	font-family: 'Poppins', sans-serif;
}
.navbar img{
	width: 75px;
	height: 60px;
}
.menu .collapse .navbar-nav .nav-item .nav-link{
	padding: 1.4rem;
	font-size: 1.1rem;
}
.navbar .nav-item:last-child .nav-link {
  padding-right: 0;
}

 .navbar {
	background-color:#000000;
}
.img{
	width: 100%;
	height: 550px;
}

*,*:before,*:after{
	box-sizing: border-box;
}
footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	padding: 40px;
	color: #ffffff;
	background-color:#000000;
	font-family: poppins;
}
.footer > *{
	flex:1 100%;
}
.footer-left{
	margin-right: 1.25rem;
	margin-bottom: 2rem;
}
.footer-left img{
	width: 50%
}
h2{
	font-family: poppins;
}
.footer ul{
	list-style: none;
	padding-left: 0;
}
.footer li{
	line-height: 2em;
}
.footer a{
	text-decoration: none;
}
.footer-right{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
}
.footer-right > *{
	flex: 1 50%;
	margin-right: 1.25em;
}
.box a{
	color: #999;
}
.footer-bottom{
	text-align: center;
	color: #999;
	padding-top: 10px;
}
.footer-left p{
	padding-right: 20%;
	color: #999;
}
.socials a{
	background: #364a62;
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-right: 10px;
}
.socials a i{
	color: #e7f2f4;
	padding:10px 12px;
	font-size: 20px;
}
@media screen and (min-width: 600px){
	.footer-right > *{
		flex: 1;
	}
	.footer-left{
		flex: 1 0px;
	}
	.footer-right{
		flex: 2 0px;
	}
}
@media (max-width: 600px){
	.footer{
		padding: 15px;
	}
	main{
		font-size: 55px;
	}
}
